{% extends 'base.html.twig' %}

{% block title %}Company index{% endblock %}

{% block body %}
    <h1>Site</h1>
    <form method="get">
        <div class="col-md-10">
            <input class="form-control form-control-sm" name="search" value="{{ search }}">
        </div>
        <div class="col-md-2">
            <button class="btn btn-block btn-primary" type="submit">Search</button>
        </div>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Telefone</th>
                <th>Endereco</th>
                <th>Cidade</th>
            </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <td>{{ company.titulo }}</td>
                <td>{{ company.telefone }}</td>
                <td>{{ company.endereco }}</td>
                <td>{{ company.cidade }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
