{{ form_start(form) }}
    {{ form_widget(form) }}
	<div class="col-md-12">
		<label>Categorias </label>
		<select style="width: 400px;" class="select2" multiple="multiple" name="categories[]">
			<option value="1">Auto</option>
			<option value="2">Beauty and Fitness</option>
			<option value="3">Entertainment</option>
			<option value="4">Food and Dining</option>
			<option value="5">Health</option>
			<option value="6">Sports</option>
			<option value="7">Travel</option>
		</select>
	</div>
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
