{% extends 'base.html.twig' %}

{% block title %}Company index{% endblock %}

{% block body %}
    <h1>Company index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Telefone</th>
                <th>Endereco</th>
                <th>Cep</th>
                <th>Cidade</th>
                <th>Estado</th>
                <th>Categoria</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <td>{{ company.titulo }}</td>
                <td>{{ company.telefone }}</td>
                <td>{{ company.endereco }}</td>
                <td>{{ company.cep }}</td>
                <td>{{ company.cidade }}</td>
                <td>{{ company.estado }}</td>
                <td>{{ company.categoria }}</td>
                <td>
                    <a href="{{ path('company_show', {'id': company.id}) }}">show</a>
                    <a href="{{ path('company_edit', {'id': company.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('company_new') }}">Create new</a>
{% endblock %}
