{% extends 'base.html.twig' %}

{% block title %}Company{% endblock %}

{% block body %}
    <h1>Company</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ company.id }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ company.titulo }}</td>
            </tr>
            <tr>
                <th>Telefone</th>
                <td>{{ company.telefone }}</td>
            </tr>
            <tr>
                <th>Endereco</th>
                <td>{{ company.endereco }}</td>
            </tr>
            <tr>
                <th>Cep</th>
                <td>{{ company.cep }}</td>
            </tr>
            <tr>
                <th>Cidade</th>
                <td>{{ company.cidade }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ company.estado }}</td>
            </tr>
            <tr>
                <th>Categoria</th>
                <td>{{ company.categoria }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('company_index') }}">back to list</a>

    <a href="{{ path('company_edit', {'id': company.id}) }}">edit</a>

    {{ include('company/_delete_form.html.twig') }}
{% endblock %}
